.header
    .container
        .row
            .col-3
                .nav-btn-ctnr(routerLink="/", [ngClass]="{active: isPathActive('home')}")
                    .nav-btn
                        .fas.fa-home
                    p.title Home
            .col-3
                .center-left
                    .nav-btn-ctnr
                        .nav-btn
                            .fas.fa-question
                        p.title About
            .col-3
                .center-right
                    .nav-btn-ctnr
                        .nav-btn
                            .fas.fa-cog
                        p.title Settings
            .col-3
                .right
                    .nav-btn-ctnr
                        .nav-btn
                            .fas.fa-user
                        p.title Profile
