@import "less/variables.less";

.header {
    padding: 15px 0;
    box-shadow: 0 1px 6px rgba(74, 78, 86, 0.5);
    .center-left {
        margin-right: 20%;
        text-align: center;
    }
    .center-right {
        margin-left: 20%;
        text-align: center;
    }
    .nav-btn-ctnr {
        display: inline-block;
        cursor: pointer;
        outline: 0;
        padding: 7px;
        box-shadow: 0 0;
        border-bottom: 2px solid;
        border-color: rgba(0, 0, 0, 0);
        transition: border-color 100ms;
        .active-border {
            border-color: @primary-color;
        }
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                .active-border;
            }
        }
        &.active {
            cursor: default;
            .active-border;
        }
        .nav-btn {
            width: 55px;
            height: 55px;
            background-color: @primary-color;
            border-radius: 50%;
            padding: 15px;
            .fas {
                font-size: 25px;
                color: #fff;
            }
            .fa-home {
                margin-top: 0;
                margin-left: -1px;
            }
            .fa-question {
                margin-top: 0;
                margin-left: 2px;
            }
            .fa-cog {
                margin-top: 0;
                margin-left: 1px;
            }
            .fa-user {
                margin-top: 0;
                margin-left: 0px;
                margin-right: 1px;
            }
        }
        .title {
            font-size: 14px;
            text-align: center;
            margin-top: 8px;
            letter-spacing: 0.1px;
        }
    }
    .logo-ctnr {
        cursor: pointer;
        outline: 0;
        img {
            height: 32px;
            width: auto;
            float: left;
        }
        p {
            font-size: 26px;
            margin-left: 45px;
            padding-bottom: 2px;
        }
    }
}

.about-modal {
    .created {
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    .feedback {
        font-size: 14px;
        margin-top: 20px;
    }
    .keybase {
        background-color: #4c8eff;
        background-image: url("https://keybase.io/images/extension/placeholder_button_logo@2x.png");
        background-size: 16px 16px;
        padding-left: 35px;
        background-position: 12px 7px;
        background-repeat: no-repeat;
        font-size: 14px;
    }
}

.profile-modal {
    .sign-in {
        p {
            font-size: 16px;
            text-align: center;
            margin: 60px 0;
        }
    }
    .profile {
        margin: 0 15px;
        .desc {
            color: @secondary-color;
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 600;
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
        .value {
            font-size: 20px;
            margin-bottom: 10px;
        }
        .btn-danger {
            margin: 30px 0 10px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}