.header
    .container
        .row
            .col-sm-6
                //- .logo-ctnr(routerLink="/")
                    img(src="/img/logo.svg")
                    p Reversi
            .col-sm-6
                .settings-ctnr
                    //- button.btn.btn-primary Settings
