.header
    .container
        .row
            .col-sm-3
                .nav-btn(routerLink="/", [ngClass]="{active: isPathActive('home')}")
                    .fas.fa-home
            .col-sm-3
            .col-sm-3
                .center
                    .nav-btn
                        .fas.fa-user
            .col-sm-3
                .right
                    .nav-btn
                        .fas.fa-cog
