@import "less/variables.less";

.header {
    padding: 15px 0;
    background-color: lighten(#333333, 5%);
    .center-left {
        margin-right: 20%;
        text-align: center;
    }
    .center-right {
        margin-left: 20%;
        text-align: center;
    }
    .nav-btn-ctnr {
        display: inline-block;
        cursor: pointer;
        outline: 0;
        &:hover:not(.active) {
            .title {
                text-decoration: underline;
            }
        }
        &.active {
            cursor: default;
        }
        .nav-btn {
            width: 55px;
            height: 55px;
            background-color: @background-color;
            border-radius: 50%;
            padding: 15px;
            .fas {
                color: white;
                font-size: 25px;
            }
            .fa-home {
                margin-left: -0.5px;
            }
            .fa-question {
                padding-left: 2px;
            }
            .fa-cog {
                padding-left: 0.5px;
            }
            .fa-user {
                padding-right: 1.12px;
            }
        }
        .title {
            font-size: 14px;
            text-align: center;
            margin-top: 8px;
        }
    }
    .logo-ctnr {
        cursor: pointer;
        outline: 0;
        img {
            height: 32px;
            width: auto;
            float: left;
        }
        p {
            font-size: 26px;
            margin-left: 45px;
            padding-bottom: 2px;
        }
    }
}

.about-modal {
    .created {
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    .keybase {
        background-color: #4c8eff;
        background-image: url("https://keybase.io/images/extension/placeholder_button_logo@2x.png");
        background-size: 16px 16px;
        padding-left: 35px;
        background-position: 12px 7px;
        background-repeat: no-repeat;
        font-size: 14px;
    }
}

.profile-modal {
    .sign-in {
        p {
            font-size: 16px;
            text-align: center;
            margin: 60px 0;
        }
    }
    .profile {
        p {
            font-size: 14px;
            margin: 20px 0;
            font-weight: @font-weight-semibold;
        }
        .btn-danger {
            margin: 30px 0 10px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}