.header
    .container
        .row
            .col-3
                .nav-btn(routerLink="/", [ngClass]="{active: isPathActive('home')}")
                    .fas.fa-home
            .col-3
                .center.center-left
                    .nav-btn
                        .fas.fa-question
            .col-3
                .center.center-right
                    .nav-btn
                        .fas.fa-cog
            .col-3
                .right
                    .nav-btn
                        .fas.fa-user
