html, body {
    font-family: 'Lato', sans-serif;
    font-weight: @font-weight-regular;
    font-size: 12px;
    color: @font-color;
    height: 100%;
    width: 100%;
    background-color: @background-color;
    letter-spacing: 0.2px;
}

.container {
    max-width: @container-width;
}

p {
    margin-bottom: 0;
    font-weight: @font-weight-regular;
    line-height: initial;
    font-size: 14px;
}

a {
    color: @primary-color;
    transition: color 50ms;
    outline: 0;
    &:hover{
        color: darken(@primary-color, 5%);
    }
}

img {
    outline: 0;
}

hr {
    border-top: 1px solid rgba(155, 178, 204, 0.2);
    margin: 20px 0;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.error {
    color: @error-color;
    font-size: 12px;
}

input {
    &.form-control {
        height: 40px;
        font-size: 14px;
    }
}

.btn {
    font-size: 16px;
    border-radius: 3px;
    border: 0;
    padding: 8px 15px 7px;
    cursor: pointer;
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
    &[disabled] {
        cursor: not-allowed;
    }
    &.loading {
        cursor: not-allowed;
        color: transparent;
        position: relative;
        &:active.loading {
            color: transparent !important;
        }
        &:before {
            font-family: "Font Awesome 5 Free";
            font-size: 30px;
            content: "\f1ce";
            font-weight: 900;
            color: white;
            position: absolute;
            top: 6%;
            left: 40%;
            animation: fa-spin 2s linear infinite;
        }
    }
}

.btn-primary {
    background-color: @primary-color;
    transition: background-color 100ms;
    &:hover, &:active.loading {
        background-color: @primary-color !important;
    }
    &:hover:not([disabled]):not(.loading) {
        background-color: darken(@primary-color, 10%) !important;
    }
}

.btn-success {
    background-color: @success-color;
    transition: background-color 100ms;
    &:hover, &:active.loading {
        background-color: @success-color !important;
    }
    &:hover:not([disabled]):not(.loading) {
        background-color: darken(@success-color, 10%) !important;
    }
}

.btn-secondary {
    background-color: lighten(#6c757d, 15%);
    transition: background-color 100ms;
    &:hover, &:active.loading {
        background-color: lighten(#6c757d, 15%) !important;
    }
    &:hover:not([disabled]):not(.loading) {
        background-color: lighten(#6c757d, 5%) !important;
    }
}

.fa-circle-notch {
    color: @primary-color;
}

.loading-spinner {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 68px;
}

.form-check-input {
    width: 25px;
    transform: scale(1.25);
}

.form-check-label {
    font-size: 16px;
}

.modal-body {
    color: @font-color;
    .fa-times {
        font-size: 18px;
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
    }
    .title {
        text-align: center;
        font-size: 24px;
        margin-bottom: 30px;
        font-weight: @font-weight-bold;
    }
}

.divider {
    border-bottom: 1px solid lighten(@font-color, 50%);
    height: 11px;
    margin: 10px 0 30px;
    width: 100%;
    text-align: center;
    .text {
        background-color: @background-color;
        padding: 0 10px;
        font-size: 14px;
    }
}
