html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: @font-weight-regular;
    font-size: 12px;
    color: @font-color;
    height: 100%;
    width: 100%;
}

.container {
    max-width: @container-width;
}

p {
    margin-bottom: 0;
    font-weight: @font-weight-regular;
}

a {
    color: @primary-color;
    transition: color 50ms;
    &:hover{
        color: darken(@primary-color, 5%);
    }
}

img {
    outline: 0;
}

hr {
    border-top: 1px solid rgba(155, 178, 204, 0.2);
    margin: 30px 0;
}

.center {
    text-align: center;
}

.error {
    color: @error-color;
    font-size: 12px;
}

input {
    width: 100%;
    outline: 0;
    border: 1px solid;
    border-color: #B6B4B6;
    border-radius: 3px;
    padding: 6px 9px;
    font-size: 14px;
    height: 40px;
    &:focus {
        border-color: @primary-color;
    }
}

.btn {
    font-size: 14px;
    border-radius: 3px;
    border: 0;
}

.btn-primary {
    background-color: @primary-color;
    transition: background-color 100ms;
    &:hover {
        background-color: darken(@primary-color, 10%);
    }
}

.loading-spinner {
    position: absolute;
    top: 30%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
