@font-color-light: #fff;
@font-color-dark: #384053;
@primary-color: #9900ff;
@secondary-color: #0092ff;
@tertiary-color: #94c5ff;
@error-color: #F44040;
@success-color: #00C759;
@background-color: #2D2D2D;

@container-width: 960px;
@screen-xl-min: 1200px;
@screen-lg-max: (@screen-xl-min - 1);
@screen-lg-min: 992px;
@screen-md-max: (@screen-lg-min - 1);
@screen-md-min: 768px;
@screen-sm-max: (@screen-md-min - 1);
@screen-sm-min: 576px;
@screen-xs-max: (@screen-sm-min - 1);

@font-weight-light: 300;
@font-weight-regular: 400;
@font-weight-semibold: 500;
@font-weight-bold: 700;
