.sign-in-ctnr {
    margin-top: 60px;
    .btn {
        font-size: 16px;
        width: 100%;
        height: 40px;
    }
    .initial-ctnr {
        .btn-guest {
            margin-top: 12px;
        }
    }
    .sign-in-form {
        .btn {
            margin-top: 12px;
        }
    }
}