@import "less/variables.less";

.sign-in-ctnr {
    margin-top: 60px;
    .btn {
        font-size: 16px;
        width: 100%;
        height: 40px;
    }
    .initial-ctnr {
        .btn {
            margin-top: 10px;
        }
        .divider {
            border-bottom: 1px solid rgba(155, 178, 204, 0.7);
            height: 11px;
            margin-top: 20px;
            margin-bottom: 30px;
            width: 100%;
            text-align: center;
            .text {
                background-color: @background-color;
                padding: 0 10px;
                font-size: 14px;
            }
        }
    }
    .logged-in-ctnr {
        .btn {
            margin-bottom: 10px;
        }
    }
}

// .primary-modal {
//     .hi {
//         font-size: 24px;
//     }
// }