.container
    .row
        .col-4.offset-4
            .sign-in-ctnr
                .initial-ctnr(*ngIf="!signInVisible && !accountService.loaded")
                    button.btn.btn-primary((click)="clickSignIn()") Sign In
                    button.btn.btn-success.btn-guest Play as guest
                form.sign-in-form(*ngIf="signInVisible", (ngSubmit)="submitSignIn()", ngNativeValidate)
                    input([(ngModel)]="email", maxlength="40", name="email", required, autofocus)
                    button.btn.btn-primary(type="submit", [disabled]="reqInProgress") Submit
                .logged-in-ctnr(*ngIf="accountService.loaded")
                    p Hi, your accountId is {{accountService.account.id}}
